body {
	text-align: center;
	padding: 0;
	font-family: High Tower Text;
	background-color: white;
	margin: 0;
}
a{
	text-decoration:none;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	padding: 20px 10px 15px 50px;
	margin:	0px;
	text-align: center;
	margin-top: 0;
}


img {
	float: left;
	height: 80px;
	width: auto;
	margin: auto;
	padding:0px 70px 15px 0px;
}

li {
	padding: 10px;
	background: white;
	text-align: center;
	color: #c98b15;
	font-family: Century Gothic;
	list-style: none;
	font-size: 15px;
}

li:hover {
	background-color: white;
	color: black;
	font-size: 15px;
	padding: 10px;
}

.imageandtext {
	height: 70vh;
	display: grid;
	grid-template-columns:1fr 1fr;
	width:100vw;
}

.left-image {
	background-image: url(../images/rooms.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
}

.right-text{
	background-color: #e9e9e9;
	height: 70vh;
	color: #ba9348;
}

.h1 {
	margin-top: 100px;
}

.p1{
	color: black;
	font-size: 15px;
	font-family: Century Gothic;
	padding: 0 20px 0 20px;
}

.rooms {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	height: 20vh;
	padding-top: 20px;
	grid-gap: 4px;
	background-color: white;
	margin-right: 25px;
}

.h2 {
	font-family: sans-serif;
	color: #ba9348;
}

.p2 {
	font-size: 14px;
	font-family: Century Gothic;
	padding:15px 20px 15px 20px;
}

.container {
	width: 100vw;
	height: 90vh;
	background-color: white;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.c1 {
 height: 500px;
 width: 300px;
 background-color:#e9e9e9;
 float: left;
 margin-left: 15px;
}

.c2 {
	height: 500px;
  width: 300px;
  background-color:#e9e9e9;
  float: left;
	margin-left: 30px;
}

.c3 {
	height: 500px;
  width: 300px;
  background-color: #e9e9e9;
  float: right;
	margin-right: 50px;
}

.img1 {
	height: 170px;
	width: 300px;
}

.container2 {
	width: 100vw;
	height: 100vh;
	background-color: white;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.c4 {
	height: 500px;
  width: 300px;
  background-color:#e9e9e9;
  float: left;
  margin-left: 15px;
}

.c5 {
	height: 500px;
	width: 300px;
	background-color:#e9e9e9;
	float: left;
	margin-left: 30px;
}

.c6 {
	height: 500px;
	width: 300px;
	background-color: #e9e9e9;
	float: right;
	margin-right: 50px;
}


.p3 {
	color: black;
	font-size: 14px;
	font-family: Century Gothic;
	padding: 0 5px 0 5px;
}

.hd3 {
	padding: 0 5px 0 5px;
	color: #ba9348;
}

.btn {
  font-family: High Tower Text;
  background-color: #a78440;
  padding: 15px 25px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  margin-top: 35px;
}

.btn:hover {
	background-color: #573c0a;
}

.btn1 {
  font-family: High Tower Text;
  background-color: #a78440;
  padding: 15px 25px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  margin-top: 65px;
}

.btn1:hover {
	background-color: #573c0a;
}

.btn2 {
  font-family: High Tower Text;
  background-color: #a78440;
  padding: 15px 25px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  margin-top: 65px;
}

.btn2:hover {
	background-color: #573c0a;
}
.btn3 {
  font-family: High Tower Text;
  background-color: #a78440;
  padding: 15px 25px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  margin-top: 35px;
}

.btn3:hover {
	background-color: #573c0a;
}
.btn4 {
  font-family: High Tower Text;
  background-color: #a78440;
  padding: 15px 25px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  margin-top: 65px;
}

.btn4:hover {
	background-color: #573c0a;
}

.btn5 {
  font-family: High Tower Text;
  background-color: #a78440;
  padding: 15px 25px;
  font-size: 13px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  margin-top: 65px;
}

.btn5:hover {
	background-color: #573c0a;
}

.end {
	height: 40vh;
	background-color: #e9e9e9;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding:10px 20px 15px 10px;
	color:#ba9348;
}

.ft {
	background-color: #e9e9e9;
}
.ft1 {
	background-color: #e9e9e9;
}
.ft2 {
	background-color: #e9e9e9;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 80%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
